--
-- PostgreSQL database dump
--

\restrict ao0debK2HlnKvt0RvV4v4TfbC9NfM8U8ptHHVY6QOfHXDwZPAGV4YY0E1h2r1ii

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: auth
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(64) NOT NULL,
    password character varying(128) NOT NULL,
    email character varying(128) NOT NULL,
    role character varying(32) NOT NULL
);


ALTER TABLE public.users OWNER TO auth;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: auth
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO auth;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: auth
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: auth
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: auth
--



--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: auth
--

SELECT pg_catalog.setval('public.users_id_seq', 6, true);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: auth
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: auth
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- PostgreSQL database dump complete
--

\unrestrict ao0debK2HlnKvt0RvV4v4TfbC9NfM8U8ptHHVY6QOfHXDwZPAGV4YY0E1h2r1ii

