--
-- PostgreSQL database dump
--

\restrict F60bcPdKe2OD9xIa3K2avStoE7g46axtAPVbPoMGXecGmVOgIKNRJW7cRVeizdd

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: catalog
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO catalog;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: catalog
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.categories OWNER TO catalog;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: catalog
--

CREATE SEQUENCE public.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.categories_id_seq OWNER TO catalog;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: catalog
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: courses; Type: TABLE; Schema: public; Owner: catalog
--

CREATE TABLE public.courses (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    category_id integer NOT NULL,
    price double precision NOT NULL,
    status character varying(20) NOT NULL,
    nivel_dificultad character varying(20) DEFAULT 'PRINCIPIANTE'::character varying NOT NULL,
    duracion_horas integer DEFAULT 0,
    instructor_id integer NOT NULL
);


ALTER TABLE public.courses OWNER TO catalog;

--
-- Name: courses_id_seq; Type: SEQUENCE; Schema: public; Owner: catalog
--

CREATE SEQUENCE public.courses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.courses_id_seq OWNER TO catalog;

--
-- Name: courses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: catalog
--

ALTER SEQUENCE public.courses_id_seq OWNED BY public.courses.id;


--
-- Name: lesson_progress; Type: TABLE; Schema: public; Owner: catalog
--

CREATE TABLE public.lesson_progress (
    id integer NOT NULL,
    user_id integer NOT NULL,
    lesson_id integer NOT NULL,
    completed boolean,
    completed_at timestamp without time zone
);


ALTER TABLE public.lesson_progress OWNER TO catalog;

--
-- Name: lesson_progress_id_seq; Type: SEQUENCE; Schema: public; Owner: catalog
--

CREATE SEQUENCE public.lesson_progress_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lesson_progress_id_seq OWNER TO catalog;

--
-- Name: lesson_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: catalog
--

ALTER SEQUENCE public.lesson_progress_id_seq OWNED BY public.lesson_progress.id;


--
-- Name: lessons; Type: TABLE; Schema: public; Owner: catalog
--

CREATE TABLE public.lessons (
    id integer NOT NULL,
    module_id integer NOT NULL,
    title character varying(200) NOT NULL,
    content_type character varying(20) NOT NULL,
    content text,
    sort_order integer NOT NULL,
    duration_minutes integer NOT NULL
);


ALTER TABLE public.lessons OWNER TO catalog;

--
-- Name: lessons_id_seq; Type: SEQUENCE; Schema: public; Owner: catalog
--

CREATE SEQUENCE public.lessons_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lessons_id_seq OWNER TO catalog;

--
-- Name: lessons_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: catalog
--

ALTER SEQUENCE public.lessons_id_seq OWNED BY public.lessons.id;


--
-- Name: modules; Type: TABLE; Schema: public; Owner: catalog
--

CREATE TABLE public.modules (
    id integer NOT NULL,
    course_id integer NOT NULL,
    title character varying(200) NOT NULL,
    sort_order integer NOT NULL
);


ALTER TABLE public.modules OWNER TO catalog;

--
-- Name: modules_id_seq; Type: SEQUENCE; Schema: public; Owner: catalog
--

CREATE SEQUENCE public.modules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.modules_id_seq OWNER TO catalog;

--
-- Name: modules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: catalog
--

ALTER SEQUENCE public.modules_id_seq OWNED BY public.modules.id;


--
-- Name: ratings; Type: TABLE; Schema: public; Owner: catalog
--

CREATE TABLE public.ratings (
    id integer NOT NULL,
    course_id integer NOT NULL,
    user_id integer NOT NULL,
    score integer NOT NULL,
    comment text NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.ratings OWNER TO catalog;

--
-- Name: ratings_id_seq; Type: SEQUENCE; Schema: public; Owner: catalog
--

CREATE SEQUENCE public.ratings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ratings_id_seq OWNER TO catalog;

--
-- Name: ratings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: catalog
--

ALTER SEQUENCE public.ratings_id_seq OWNED BY public.ratings.id;


--
-- Name: wishlist_items; Type: TABLE; Schema: public; Owner: catalog
--

CREATE TABLE public.wishlist_items (
    id integer NOT NULL,
    user_id integer NOT NULL,
    course_id integer NOT NULL,
    added_at timestamp without time zone
);


ALTER TABLE public.wishlist_items OWNER TO catalog;

--
-- Name: wishlist_items_id_seq; Type: SEQUENCE; Schema: public; Owner: catalog
--

CREATE SEQUENCE public.wishlist_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.wishlist_items_id_seq OWNER TO catalog;

--
-- Name: wishlist_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: catalog
--

ALTER SEQUENCE public.wishlist_items_id_seq OWNED BY public.wishlist_items.id;


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: courses id; Type: DEFAULT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.courses ALTER COLUMN id SET DEFAULT nextval('public.courses_id_seq'::regclass);


--
-- Name: lesson_progress id; Type: DEFAULT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.lesson_progress ALTER COLUMN id SET DEFAULT nextval('public.lesson_progress_id_seq'::regclass);


--
-- Name: lessons id; Type: DEFAULT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.lessons ALTER COLUMN id SET DEFAULT nextval('public.lessons_id_seq'::regclass);


--
-- Name: modules id; Type: DEFAULT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.modules ALTER COLUMN id SET DEFAULT nextval('public.modules_id_seq'::regclass);


--
-- Name: ratings id; Type: DEFAULT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.ratings ALTER COLUMN id SET DEFAULT nextval('public.ratings_id_seq'::regclass);


--
-- Name: wishlist_items id; Type: DEFAULT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.wishlist_items ALTER COLUMN id SET DEFAULT nextval('public.wishlist_items_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: catalog
--

COPY public.alembic_version (version_num) FROM stdin;
6bb3469bea64
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: catalog
--

COPY public.categories (id, name) FROM stdin;
1	Backend
2	Architecture
\.


--
-- Data for Name: courses; Type: TABLE DATA; Schema: public; Owner: catalog
--

COPY public.courses (id, title, description, category_id, price, status, nivel_dificultad, duracion_horas, instructor_id) FROM stdin;
1	Python Fundamentals	From zero to backend basics	1	100	PUBLISHED	PRINCIPIANTE	0	2
2	Flask for APIs	Design and build production APIs	1	120	PUBLISHED	PRINCIPIANTE	0	2
3	Arquitectura de Microservicios	Patterns for scalable systems	2	150	PUBLISHED	PRINCIPIANTE	0	2
\.


--
-- Data for Name: lesson_progress; Type: TABLE DATA; Schema: public; Owner: catalog
--

COPY public.lesson_progress (id, user_id, lesson_id, completed, completed_at) FROM stdin;
1	3	1	t	2026-06-09 04:42:46.229609
2	3	2	t	2026-06-09 04:43:08.639586
3	3	3	t	2026-06-09 04:43:30.682066
4	3	4	t	2026-06-09 04:43:51.478196
5	3	5	t	2026-06-09 04:44:12.980542
6	3	6	t	2026-06-09 04:44:40.864143
7	3	7	t	2026-06-09 04:45:09.61037
8	3	8	t	2026-06-09 04:45:31.651243
9	4	1	t	2026-06-09 19:17:54.763741
10	4	8	t	2026-06-09 19:17:59.703923
\.


--
-- Data for Name: lessons; Type: TABLE DATA; Schema: public; Owner: catalog
--



--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: catalog
--

COPY public.modules (id, course_id, title, sort_order) FROM stdin;
1	1	Python Fundamentals - Module 1	1
2	1	Python Fundamentals - Module 2	2
3	2	Flask for APIs - Module 1	1
4	2	Flask for APIs - Module 2	2
5	3	Arquitectura de Microservicios - Module 1	1
6	3	Arquitectura de Microservicios - Module 2	2
\.


--
-- Data for Name: ratings; Type: TABLE DATA; Schema: public; Owner: catalog
--

COPY public.ratings (id, course_id, user_id, score, comment, created_at) FROM stdin;
\.


--
-- Data for Name: wishlist_items; Type: TABLE DATA; Schema: public; Owner: catalog
--

COPY public.wishlist_items (id, user_id, course_id, added_at) FROM stdin;
\.


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: catalog
--

SELECT pg_catalog.setval('public.categories_id_seq', 2, true);


--
-- Name: courses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: catalog
--

SELECT pg_catalog.setval('public.courses_id_seq', 3, true);


--
-- Name: lesson_progress_id_seq; Type: SEQUENCE SET; Schema: public; Owner: catalog
--

SELECT pg_catalog.setval('public.lesson_progress_id_seq', 10, true);


--
-- Name: lessons_id_seq; Type: SEQUENCE SET; Schema: public; Owner: catalog
--

SELECT pg_catalog.setval('public.lessons_id_seq', 24, true);


--
-- Name: modules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: catalog
--

SELECT pg_catalog.setval('public.modules_id_seq', 6, true);


--
-- Name: ratings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: catalog
--

SELECT pg_catalog.setval('public.ratings_id_seq', 1, false);


--
-- Name: wishlist_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: catalog
--

SELECT pg_catalog.setval('public.wishlist_items_id_seq', 1, false);


--
-- Name: ratings _user_course_rating_uc; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT _user_course_rating_uc UNIQUE (user_id, course_id);


--
-- Name: wishlist_items _user_course_wishlist_uc; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT _user_course_wishlist_uc UNIQUE (user_id, course_id);


--
-- Name: lesson_progress _user_lesson_uc; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.lesson_progress
    ADD CONSTRAINT _user_lesson_uc UNIQUE (user_id, lesson_id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: courses courses_pkey; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_pkey PRIMARY KEY (id);


--
-- Name: lesson_progress lesson_progress_pkey; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.lesson_progress
    ADD CONSTRAINT lesson_progress_pkey PRIMARY KEY (id);


--
-- Name: lessons lessons_pkey; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_pkey PRIMARY KEY (id);


--
-- Name: modules modules_pkey; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_pkey PRIMARY KEY (id);


--
-- Name: ratings ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_pkey PRIMARY KEY (id);


--
-- Name: wishlist_items wishlist_items_pkey; Type: CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT wishlist_items_pkey PRIMARY KEY (id);


--
-- Name: ix_categories_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_categories_id ON public.categories USING btree (id);


--
-- Name: ix_categories_name; Type: INDEX; Schema: public; Owner: catalog
--

CREATE UNIQUE INDEX ix_categories_name ON public.categories USING btree (name);


--
-- Name: ix_courses_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_courses_id ON public.courses USING btree (id);


--
-- Name: ix_lesson_progress_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_lesson_progress_id ON public.lesson_progress USING btree (id);


--
-- Name: ix_lesson_progress_lesson_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_lesson_progress_lesson_id ON public.lesson_progress USING btree (lesson_id);


--
-- Name: ix_lesson_progress_user_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_lesson_progress_user_id ON public.lesson_progress USING btree (user_id);


--
-- Name: ix_lessons_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_lessons_id ON public.lessons USING btree (id);


--
-- Name: ix_lessons_module_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_lessons_module_id ON public.lessons USING btree (module_id);


--
-- Name: ix_modules_course_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_modules_course_id ON public.modules USING btree (course_id);


--
-- Name: ix_modules_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_modules_id ON public.modules USING btree (id);


--
-- Name: ix_ratings_course_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_ratings_course_id ON public.ratings USING btree (course_id);


--
-- Name: ix_ratings_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_ratings_id ON public.ratings USING btree (id);


--
-- Name: ix_ratings_user_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_ratings_user_id ON public.ratings USING btree (user_id);


--
-- Name: ix_wishlist_items_course_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_wishlist_items_course_id ON public.wishlist_items USING btree (course_id);


--
-- Name: ix_wishlist_items_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_wishlist_items_id ON public.wishlist_items USING btree (id);


--
-- Name: ix_wishlist_items_user_id; Type: INDEX; Schema: public; Owner: catalog
--

CREATE INDEX ix_wishlist_items_user_id ON public.wishlist_items USING btree (user_id);


--
-- Name: courses courses_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.courses
    ADD CONSTRAINT courses_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: lesson_progress lesson_progress_lesson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.lesson_progress
    ADD CONSTRAINT lesson_progress_lesson_id_fkey FOREIGN KEY (lesson_id) REFERENCES public.lessons(id);


--
-- Name: lessons lessons_module_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.lessons
    ADD CONSTRAINT lessons_module_id_fkey FOREIGN KEY (module_id) REFERENCES public.modules(id);


--
-- Name: modules modules_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: ratings ratings_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- Name: wishlist_items wishlist_items_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: catalog
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT wishlist_items_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.courses(id);


--
-- PostgreSQL database dump complete
--

\unrestrict F60bcPdKe2OD9xIa3K2avStoE7g46axtAPVbPoMGXecGmVOgIKNRJW7cRVeizdd

