--
-- PostgreSQL database dump
--

\restrict SGMsN8ghpnJG3KGFLNVjdZtauRCSWTK0U6oJAu1gWXgYihtWnqhFLBjLd0K6FUv

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: transactions
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO transactions;

--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: transactions
--

CREATE TABLE public.cart_items (
    id integer NOT NULL,
    user_id integer NOT NULL,
    course_id integer NOT NULL,
    quantity integer NOT NULL
);


ALTER TABLE public.cart_items OWNER TO transactions;

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: transactions
--

CREATE SEQUENCE public.cart_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cart_items_id_seq OWNER TO transactions;

--
-- Name: cart_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: transactions
--

ALTER SEQUENCE public.cart_items_id_seq OWNED BY public.cart_items.id;


--
-- Name: course_prices; Type: TABLE; Schema: public; Owner: transactions
--

CREATE TABLE public.course_prices (
    course_id integer NOT NULL,
    title character varying(200) NOT NULL,
    price double precision NOT NULL
);


ALTER TABLE public.course_prices OWNER TO transactions;

--
-- Name: course_prices_course_id_seq; Type: SEQUENCE; Schema: public; Owner: transactions
--

CREATE SEQUENCE public.course_prices_course_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.course_prices_course_id_seq OWNER TO transactions;

--
-- Name: course_prices_course_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: transactions
--

ALTER SEQUENCE public.course_prices_course_id_seq OWNED BY public.course_prices.course_id;


--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: transactions
--

CREATE TABLE public.enrollments (
    id integer NOT NULL,
    user_id integer NOT NULL,
    course_id integer NOT NULL,
    order_id integer,
    status character varying(20) NOT NULL,
    created_at timestamp without time zone
);


ALTER TABLE public.enrollments OWNER TO transactions;

--
-- Name: enrollments_id_seq; Type: SEQUENCE; Schema: public; Owner: transactions
--

CREATE SEQUENCE public.enrollments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.enrollments_id_seq OWNER TO transactions;

--
-- Name: enrollments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: transactions
--

ALTER SEQUENCE public.enrollments_id_seq OWNED BY public.enrollments.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: transactions
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer NOT NULL,
    course_id integer NOT NULL,
    price double precision NOT NULL,
    quantity integer NOT NULL
);


ALTER TABLE public.order_items OWNER TO transactions;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: transactions
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO transactions;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: transactions
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: transactions
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    number character varying(40) NOT NULL,
    user_id integer NOT NULL,
    status character varying(20) NOT NULL,
    total double precision NOT NULL
);


ALTER TABLE public.orders OWNER TO transactions;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: transactions
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO transactions;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: transactions
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: cart_items id; Type: DEFAULT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.cart_items ALTER COLUMN id SET DEFAULT nextval('public.cart_items_id_seq'::regclass);


--
-- Name: course_prices course_id; Type: DEFAULT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.course_prices ALTER COLUMN course_id SET DEFAULT nextval('public.course_prices_course_id_seq'::regclass);


--
-- Name: enrollments id; Type: DEFAULT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.enrollments ALTER COLUMN id SET DEFAULT nextval('public.enrollments_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: transactions
--

COPY public.alembic_version (version_num) FROM stdin;
b2cccfe52617
\.


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: transactions
--

COPY public.cart_items (id, user_id, course_id, quantity) FROM stdin;
5	1	1	1
6	5	1	1
7	3	2	2
\.


--
-- Data for Name: course_prices; Type: TABLE DATA; Schema: public; Owner: transactions
--

COPY public.course_prices (course_id, title, price) FROM stdin;
1	Python Fundamentals	100
2	Flask for APIs	120
3	Arquitectura de Microservicios	150
\.


--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: transactions
--

COPY public.enrollments (id, user_id, course_id, order_id, status, created_at) FROM stdin;
1	3	1	3	ACTIVA	2026-06-09 04:01:22.453039
2	4	1	4	ACTIVA	2026-06-09 19:17:48.26594
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: transactions
--

COPY public.order_items (id, order_id, course_id, price, quantity) FROM stdin;
1	5	1	100	2
2	6	1	100	2
3	7	1	100	2
4	7	3	150	1
5	8	1	100	3
6	8	3	150	1
7	9	1	100	1
8	10	1	100	1
9	11	2	120	2
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: transactions
--

COPY public.orders (id, number, user_id, status, total) FROM stdin;
1	SF-10001	1	CONFIRMED	100
2	SF-10002	1	PENDING	120
3	SF-10003	3	CONFIRMED	100
4	SF-10004	4	CONFIRMED	100
5	SF-10005	1	PENDING	200
6	SF-10006	1	PENDING	200
7	SF-10007	1	PENDING	350
8	SF-10008	1	PENDING	450
9	SF-10009	1	PENDING	100
10	SF-10010	5	PENDING	100
11	SF-10011	3	PENDING	240
\.


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transactions
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 7, true);


--
-- Name: course_prices_course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transactions
--

SELECT pg_catalog.setval('public.course_prices_course_id_seq', 1, false);


--
-- Name: enrollments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transactions
--

SELECT pg_catalog.setval('public.enrollments_id_seq', 2, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transactions
--

SELECT pg_catalog.setval('public.order_items_id_seq', 9, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: transactions
--

SELECT pg_catalog.setval('public.orders_id_seq', 11, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: course_prices course_prices_pkey; Type: CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.course_prices
    ADD CONSTRAINT course_prices_pkey PRIMARY KEY (course_id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: ix_cart_items_course_id; Type: INDEX; Schema: public; Owner: transactions
--

CREATE INDEX ix_cart_items_course_id ON public.cart_items USING btree (course_id);


--
-- Name: ix_cart_items_user_id; Type: INDEX; Schema: public; Owner: transactions
--

CREATE INDEX ix_cart_items_user_id ON public.cart_items USING btree (user_id);


--
-- Name: ix_enrollments_course_id; Type: INDEX; Schema: public; Owner: transactions
--

CREATE INDEX ix_enrollments_course_id ON public.enrollments USING btree (course_id);


--
-- Name: ix_enrollments_user_id; Type: INDEX; Schema: public; Owner: transactions
--

CREATE INDEX ix_enrollments_user_id ON public.enrollments USING btree (user_id);


--
-- Name: ix_order_items_course_id; Type: INDEX; Schema: public; Owner: transactions
--

CREATE INDEX ix_order_items_course_id ON public.order_items USING btree (course_id);


--
-- Name: ix_order_items_id; Type: INDEX; Schema: public; Owner: transactions
--

CREATE INDEX ix_order_items_id ON public.order_items USING btree (id);


--
-- Name: ix_order_items_order_id; Type: INDEX; Schema: public; Owner: transactions
--

CREATE INDEX ix_order_items_order_id ON public.order_items USING btree (order_id);


--
-- Name: ix_orders_number; Type: INDEX; Schema: public; Owner: transactions
--

CREATE UNIQUE INDEX ix_orders_number ON public.orders USING btree (number);


--
-- Name: ix_orders_user_id; Type: INDEX; Schema: public; Owner: transactions
--

CREATE INDEX ix_orders_user_id ON public.orders USING btree (user_id);


--
-- Name: cart_items cart_items_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course_prices(course_id);


--
-- Name: enrollments enrollments_course_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_course_id_fkey FOREIGN KEY (course_id) REFERENCES public.course_prices(course_id);


--
-- Name: enrollments enrollments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: transactions
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict SGMsN8ghpnJG3KGFLNVjdZtauRCSWTK0U6oJAu1gWXgYihtWnqhFLBjLd0K6FUv

