--
-- PostgreSQL database dump
--

\restrict YMpq0FxBntAftzEcd0xUkbWFdmBBfmFNZzQFFGWdy4LMkmFsIAdXQ9cofy7g8NP

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: certificate
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO certificate;

--
-- Name: certificates; Type: TABLE; Schema: public; Owner: certificate
--

CREATE TABLE public.certificates (
    id integer NOT NULL,
    user_id integer NOT NULL,
    course_id integer NOT NULL,
    course_title character varying(200) NOT NULL,
    student_name character varying(150) NOT NULL,
    numero_certificado character varying(50) NOT NULL,
    codigo_verificacion character varying(20) NOT NULL,
    fecha_emision timestamp without time zone DEFAULT now() NOT NULL,
    pdf_url character varying(500),
    plantilla character varying(50) NOT NULL,
    status character varying(20) DEFAULT 'PENDING'::character varying,
    task_id character varying(255)
);


ALTER TABLE public.certificates OWNER TO certificate;

--
-- Name: certificates_id_seq; Type: SEQUENCE; Schema: public; Owner: certificate
--

CREATE SEQUENCE public.certificates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.certificates_id_seq OWNER TO certificate;

--
-- Name: certificates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: certificate
--

ALTER SEQUENCE public.certificates_id_seq OWNED BY public.certificates.id;


--
-- Name: certificates id; Type: DEFAULT; Schema: public; Owner: certificate
--

ALTER TABLE ONLY public.certificates ALTER COLUMN id SET DEFAULT nextval('public.certificates_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: certificate
--

COPY public.alembic_version (version_num) FROM stdin;
4dd8ae10d921
\.


--
-- Data for Name: certificates; Type: TABLE DATA; Schema: public; Owner: certificate
--

COPY public.certificates (id, user_id, course_id, course_title, student_name, numero_certificado, codigo_verificacion, fecha_emision, pdf_url, plantilla, status, task_id) FROM stdin;
\.


--
-- Name: certificates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: certificate
--

SELECT pg_catalog.setval('public.certificates_id_seq', 1, false);


--
-- Name: certificates _user_course_uc; Type: CONSTRAINT; Schema: public; Owner: certificate
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT _user_course_uc UNIQUE (user_id, course_id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: certificate
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: certificates certificates_pkey; Type: CONSTRAINT; Schema: public; Owner: certificate
--

ALTER TABLE ONLY public.certificates
    ADD CONSTRAINT certificates_pkey PRIMARY KEY (id);


--
-- Name: ix_certificates_codigo_verificacion; Type: INDEX; Schema: public; Owner: certificate
--

CREATE UNIQUE INDEX ix_certificates_codigo_verificacion ON public.certificates USING btree (codigo_verificacion);


--
-- Name: ix_certificates_course_id; Type: INDEX; Schema: public; Owner: certificate
--

CREATE INDEX ix_certificates_course_id ON public.certificates USING btree (course_id);


--
-- Name: ix_certificates_id; Type: INDEX; Schema: public; Owner: certificate
--

CREATE INDEX ix_certificates_id ON public.certificates USING btree (id);


--
-- Name: ix_certificates_numero_certificado; Type: INDEX; Schema: public; Owner: certificate
--

CREATE UNIQUE INDEX ix_certificates_numero_certificado ON public.certificates USING btree (numero_certificado);


--
-- Name: ix_certificates_user_id; Type: INDEX; Schema: public; Owner: certificate
--

CREATE INDEX ix_certificates_user_id ON public.certificates USING btree (user_id);


--
-- PostgreSQL database dump complete
--

\unrestrict YMpq0FxBntAftzEcd0xUkbWFdmBBfmFNZzQFFGWdy4LMkmFsIAdXQ9cofy7g8NP

